#header
{
	width: 100%;
	height: 20px;
	border: solid 1px;
	border-color: #000;
}
#folder
{
	position: relative;
	margin-top: 10px;
}

#folderTree
{
	position: relative;
	width: 30%;
	margin-left: 20px;
	float: left;
	border: solid 1px;
}

#folderList
{
	
	float: left;
	width: 65%;
	border: solid 1px;
	border-color: #1FF;
}