body
{
	background-image: url("../images/background.jpg");
	background-size: cover;
}


div#logo,div#ftp_section
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#ftp_section
{
	width: 320px;
	border: solid 1px;
	border-color: #206FA1;
	margin-top: 20px;
}
div#ftp_section input
{
	width:280px;
	height: 30px;
	margin-left: 20px;
}

p.hintOk, p.hintError
{
	text-align: center;
}

p.hintOk
{
	color: blue;
}

p.hintError
{
	color: red;
}

input.submit_buttonOk,input.submit_buttonError
{
	font-size: 110%;
	padding-top: 10px;
	padding-bottom: 25px;
}
input.submit_buttonOk
{
	background-color: #009DD9;
}

input.submit_buttonError
{
	background-color: #EEE;
}