#header
{
	width: 100%;
	height: 55px;
	border: solid 1px;
	border-color: #000;
	background-color: #151412;
}

#header_userinfo
{
	position: relative;
	margin-left: 1000px;
	height: 50px;
	border:solid 1px;
}

#header_userinfo_head
{
	float: left;
	height: 45px;
	width: 45px;
}

#header_userinfo_loginstate
{
	position: relative;
	margin-left: 50px;
	margin-top: 5px;
	text-align: center;
	height: 40px;
	width: 100px;
}

#header_userinfo_name
{
	height: 50%;
	color: white;
}

#header_userinfo_state
{
	margin-left: 0px;
	top: 25px;
	left: 12px;
}

#folder
{
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}


#folderTree, #folderList
{
	overflow:auto;
	height: 550px;
}
#folderTree
{
	position: relative;
	width: 30%;
	margin-left: 20px;
	float: left;
	border: solid 1px;
}

#folderList
{
	float: left;
	width: 65%;
	margin-left: 20px;
	border: solid 1px;
	border-color: #1FF;
	overflow-x:hidden;
	overflow-y:hidden;
}

#folderList ul
{
	border-color: red;
	list-style: none;
}

#folderList ul li
{
	display: block;
	margin: 5px 10px 5px 10px;
	float: left;
	width: 130px;
	height: 130px;
	background-image: url(../images/folder128.png);
}

#folderList ul li a
{
	word-break:break-all;
	display: block;
	width: 130px;
	height: 30px;
	padding-top: 110px;
	text-align: center;
}
#folderList_header
{
	height: 40px;
	border:solid 1px;
}
#folderList_body
{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}
#folderList_header_path
{
	float: left;
	position: relative;
	width: 200px;
	border: solid 1px;
}
#folderList_header_toolbar
{
	margin-left: 500px;
	color: blue;
	height: 100%;
	width: 500px;
	border:solid 1px;
}