#header
{
	width: 100%;
	height: 50px;
	border: solid 1px;
	border-color: #000;
}

#header_userinfo
{
	position: relative;
	margin-left: 1000px;
	height: 50px;
	border:solid 1px;
}

#folder
{
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}


#folderTree, #folderList
{
	height: 550px;
}
#folderTree
{
	position: relative;
	width: 30%;
	margin-left: 20px;
	float: left;
	border: solid 1px;
}

#folderList
{
	float: left;
	width: 65%;
	margin-left: 20px;
	border: solid 1px;
	border-color: #1FF;
}

#folderList_header
{
	height: 40px;
	border:solid 1px;
}